__pycache__/
*.png
*.mp4
*.egg-info
.coverage
coverage.xml
.vscode
venv
oss-params.json
.mypy_cache
.pytest_cache
.ruff_cache
.tox
build/

.idea
.venv

Cityscape_ds/
SENSATION_DS/
UnetPlusPlus/
unetplusplus_mobilenetv3_075/
*.zip
*.sh
*.pth
get-pip.py
test_output.log
tb_logs/
visualizations/
sensation/visualization/cdt_visualization.py
z_results/
graphs/
plots/
NewTraining/
mapillary/
MapillaryTraining/
mapResult/